
.game-container {
    display: grid;
    grid-template-columns: 700px auto;
    gap: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 700px;
    height: 700px;
    border: 2px solid #000;
}


.side-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-row {
    display: flex;
    gap: 10px;
}

.add-ship-button, .start-game-button {
    padding: 10px 20px; 
    border: 2px solid black; 
    cursor: pointer; 
}

.timer {
    padding: 5px;
    font-size: 1.2em;
}
.player-stats, .computer-stats, .player-turn, .computer-turn {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.cell {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

    .cell.ship {
        background-color: lightgray;
    }

    .cell.selected {
        background-color: lightblue;
    }

    /* Styl dla aktywnej komórki, gdy jest kliknięta */
    .cell:hover {
        background-color: #dcdcdc; /* Zmiana koloru komórki przy najechaniu */
    }
.error-message {
    grid-column: 1 / -1;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffcccc;
    color: #900;
    text-align: center;
    font-size: 1em;
    border: 1px solid #f00;
}