@page "/NewGame"
@rendermode InteractiveServer

<div class="container">
    <div class="container1">
        <div>
            <label>
                <span class="label-text">Tekst po lewej stronie</span> 
                <label class="switch">
                    <input type="checkbox" @onchange="ToggleDiv1Visibility" />
                    <span class="slider round"></span>
                </label>
            </label>
            @if (isDiv1Hidden)
            {
                <div class="content">
                    <PrepareGameComponent />
                </div>
            }
        </div>
    </div>

    <div>
        <label>
       <span class="label-text">Tekst po lewej stronie</span>
            <label class="switch">
            <input type="checkbox" @onchange="ToggleDiv2Visibility" />
            <span class="slider round"></span>
        </label>
    </label>
        @if (isDiv2Hidden)
        {
            <div class="content">
                <p>Zawartość drugiego div.</p>
            </div>
        }
    </div>
</div>

@code {
    private bool isDiv1Hidden = false;
    private bool isDiv2Hidden = false;

    private void ToggleDiv1Visibility(ChangeEventArgs e)
    {
        if (e.Value is bool value)
        {
            isDiv1Hidden = value;
            StateHasChanged();
        }
    }

    private void ToggleDiv2Visibility(ChangeEventArgs e)
    {
        isDiv2Hidden = (bool)e.Value;
        StateHasChanged();
    }
}